#title, .center{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

button.center{
	width: 6rem;
	height: 3rem;
	margin-top: 1rem;
	color: cadetblue;

}

#title{
	color:red;
	text-align: center;
}

body{
	background-color: darkslategrey;
}

button{
	color:beige;
	border-radius: 15px;
}
