#title, .center{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

button.center{
	width: 6rem;
	height: 3rem;
	margin-top: 1rem;
	color: cadetblue;

}

#title{
	color:lightsalmon;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

body{
	background-color: darkslategrey;
}

button{
	color:beige;
	border-radius: 15px;
}

button:hover{
	background-color: paleturquoise;
	color:black;
	text-decoration: solid;
	text-decoration-thickness: initial;
}

button:active{
	background-color:dimgray;
	color:cornsilk;
}

#game{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-flow: row wrap;

}
